In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import unittest

# make the notebook automatically reload external python modules
%load_ext autoreload
%autoreload 2

np.random.seed(42) 
test = unittest.TestCase()

In [3]:
data = pd.read_csv('house_price_data.csv')
display(data.head())
display(data.isnull().sum())
display(data.describe())

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,1987,0,98074,47.6168,-122.045,1800,7503

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,5.000000e+03,5.000000e+03,5000.0000,5000.000000,5000.000000,5.000000e+03,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000
mean,4.630823e+09,5.394699e+05,3.3714,2.062150,2061.036800,1.615893e+04,1.432600,0.009400,0.243000,3.455000,7.595200,1753.151000,1966.660800,95.052800,98078.812600,47.559312,-122.215864,1976.84520,13451.164600
std,2.870890e+09,3.873115e+05,0.9104,0.773592,923.727509,4.600220e+04,0.510793,0.096506,0.774643,0.677692,1.166537,818.390844,28.286855,425.234932,54.126332,0.139521,0.141807,674.73601,26514.749009
min,1.000102e+06,7.500000e+04,0.0000,0.000000,380.000000,6.090000e+02,1.000000,0.000000,0.000000,1.000000,3.000000,380.000000,1900.000000,0.000000,98001.000000,47.155900,-122.514000,620.00000,660.000000
25%,2.154075e+09,3.179062e+05,3.0000,1.500000,1410.000000,5.400000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,1949.000000,0.000000,98033.000000,47.463675,-122.329000,1490.00000,5391.500000
50%,4.022900e+09,4.490000e+05,3.0000,2.000000,1890.000000,7.875000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1530.000000,1968.000000,0.000000,98070.000000,47.572850,-122.235000,1820.00000,7800.000000
75%,7.345078e+09,6.500000e+05,4.0000,2.500000,2500.000000,1.123400e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2130.000000,1990.000000,0.000000,98118.000000,47.679200,-122.129000,2340.00000,10469.250000
max,9.842300e+09,7.060000e+06,9.0000,6.750000,10040.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,7680.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,5790.00000,434728.000000

# Linear Regression

One of the simplest machine learning (ML) models is linear regression.
We are given a dataset $\{\vec{x}^{(i)}, \vec{y}^{(i)}\}_{i=1}^N$ where $\vec{x}^{(i)}\in\mathbb{R}^D$ is a $D$-dimensional feature vector and $\vec{y}^{(i)}\in\mathbb{R}$ is a continous quantity assumed to be the output of some unknown function, i.e. $\vec{y}^{(i)} = f(\vec{x}^{(i)})$.

Our goal will be to fit a linear transformation, parameterized by weights vector and bias term $\vec{w}, b$ such that given a sample $\vec{x}$ our prediction is 

$$
\hat{y} = \vec{w}^\top\vec{x} + b
$$

We will judge the performance of the  model using ordinary least-squares, 
i.e. with a loss function given by the mean-squared error (MSE):

$$
L(\vec{w}) = \frac{1}{N}\sum_{i=1}^N(y^{(i)} - \hat{y}^{(i)})^2 = \frac{1}{N}\sum_{i=1}^N(y^{(i)} - \vec{w}^\top\vec{x}^{(i)} - b)^2
$$

Minimizing the above $L(\vec{w})$ is a simple convex optimization problem with a closed-form solution. Of course, this can also be solved using iterative descent methods which are necessary when the data is too large to fit in memory

In [14]:
# train-test split
X = data.drop(columns=['price', 'id', 'date']).values
y = data['price'].values

# preprocessing
from linear_regression import preprocess
X, y = preprocess(X, y)

# training and validation split 
np.random.seed(42)
indices = np.random.permutation(X.shape[0])
idx_train, idx_val = indices[:int(0.8*X.shape[0])], indices[int(0.8*X.shape[0]):]
X_train, X_val = X[idx_train,:], X[idx_val,:]
y_train, y_val = y[idx_train], y[idx_val]

# train a LinearRegression model
from linear_regression import OLSLinearRegression
from sklearn.metrics import mean_squared_error, r2_score
lr = OLSLinearRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_val)
mse_actual = mean_squared_error(y_true=y_val, y_pred=y_pred)
print(f"mse: {mse_actual}")
r2_actual = r2_score(y_true=y_val, y_pred=y_pred)
print(f"r2: {r2_actual}")

mse: 0.000847608087648329
r2: 0.6906880248044078

# $R^2$

Lets now define a function to assess the accuracy of our models prediction (loss and score).
We'll use the MSE loss as above and
[$R^2$] as a score.

Note that $R^2$ is a number in the range \[0, 1\] which represents how much better the regression fits the data in compared to a simple average of the data. It is given by:

$$
R^2 = 1-\frac{\sum_i (e^{(i)})^2}{\sum_i (y^{(i)} - \bar{y})^2},
$$

where $e^{(i)} = y^{(i)} - \hat{y}^{(i)}$ is known as the **residual** for each sample $i$ and $\bar{y}$ is the data mean.

In [15]:
# compare to sklearn
from sklearn.linear_model import LinearRegression
sklearn_lr = LinearRegression(fit_intercept=True).fit(X=X_train, y=y_train)
sklearn_y_pred = sklearn_lr.predict(X_val)

sklearn_mse = mean_squared_error(y_true=y_val, y_pred=sklearn_y_pred)
sklearn_r2 = r2_score(y_true=y_val, y_pred=sklearn_y_pred)

test.assertAlmostEqual(mse_actual, sklearn_mse, delta=1e-6)
test.assertAlmostEqual(r2_actual, sklearn_r2, delta=1e-6)

next step of the implementation will be a GradientDescentRegressor

## Gradient Descent

Our task is to find the best possible linear line that explains all the points in our dataset. We start by guessing initial values for the linear regression parameters $\theta$ and updating the values using gradient descent. 

The objective of linear regression is to minimize the cost function $J$:

$$
J(\theta) = \frac{1}{2m} \sum_{i=1}^{m}(h_\theta(x^{(i)})-y^{(i)})^2
$$

where the hypothesis (model) $h_\theta(x)$ is given by a **linear** model:

$$
h_\theta(x) = \theta^T x = \theta_0 + \theta_1 x_1 + \theta_2 x_2 + ... + \theta_n x_n
$$

$\theta_j$ are parameters of your model. and by changing those values accordingly you will be able to lower the cost function $J(\theta)$. One way to accopmlish this is to use gradient descent:

$$
\theta_j = \theta_j - \alpha \frac{1}{m} \sum_{i=1}^m (h_\theta(x^{(i)})-y^{(i)})x_j^{(i)}
$$

In linear regresion, we know that with each step of gradient descent, the parameters $\theta_j$ get closer to the optimal values that will achieve the lowest cost $J(\theta)$.